* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
}
a:link,
a:visited {
  color: #888;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}
.sec1-h {
  padding-top: 20vh;
}
.section1 {
  background-image: url(img/section5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: white;
}
.sec-ara {
  width: 70vw;
  margin: 0 auto;
  font-size: 3rem;
  color: #4d2c57;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 8vh 0;
}
.section2,
.section3 {
  display: flex;
  justify-content: space-between;
  gap: 8vh;
  padding: 0 10vh;
}
.section2 {
  background-color: #dbe4ff;
}
.section3 {
  background-color: #fd925c;
}
.sec2-p,
.sec3-p {
  font-size: 2.2rem;
  margin-bottom: 1.5vh;
  line-height: 1.5;
  padding-top: 3vh;
}
.sec2-p {
  color: #4d2c57;
}
.sec3-p {
  color: white;
}
.sec2-h,
.sec3-h {
  font-size: 5rem;
  padding: 5vh 0;
  color: #4d2c57;
}
.sec3-h {
  color: white;
}
.sec2 img,
.sec3 img {
  width: 100%;
}
.sec2,
.sec3 {
  width: 40%;
}
.sec2--sec {
  width: 60%;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}
.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 94em) {
  .section2,
  .section3 {
    gap: 5vh;
    padding: 0 5vh;
  }
}

@media only screen and (max-width: 75em) {
  .main-header {
    padding: 3vh 10vh;
  }
  .bag-icon {
    height: 2rem;
    width: 2rem;
  }
  .main-nav {
    font-size: 1.8rem;
  }
  .section1 {
    height: 50vh;
    font-size: 4rem;
  }
  .sec-ara {
    padding: 7vh 0;
  }
  .secara-p {
    font-size: 1.8rem;
  }
  .sec2-p,
  .sec3-p {
    font-size: 1.8rem;
    margin-bottom: 1vh;
    line-height: 1.4;
    padding-top: 2vh;
  }
  .sec2-h,
  .sec3-h {
    font-size: 3.5rem;
    padding: 3vh 0 1vh;
  }
  .footer-div {
    padding: 2.5rem;
  }
  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 56em) {
  .main-nav {
    gap: 2rem;
    font-size: 1.6rem;
  }
  span {
    font-size: 2.5rem;
  }
  .bag-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
  .sec1-h {
    padding-top: 15vh;
  }
  .section1 {
    font-size: 3.5rem;
    height: 35vh;
  }
  .section2,
  .section3 {
    gap: 2vh;
    padding: 0 2vh;
  }
  .sec-ara {
    padding: 5vh 0;
    width: 100%;
  }
  .secara-p {
    font-size: 1.6rem;
  }
  .sec2-p,
  .sec3-p {
    font-size: 1.5rem;
    line-height: 1;
    padding-top: 0.5rem;
  }
  .sec2-h,
  .sec3-h {
    font-size: 2.8rem;
    padding: 1vh 0;
  }
  .footer-div {
    padding: 2.5rem;
  }
  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37em) {
  .main-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1vh 5vh;
  }
  .main-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
  span {
    font-size: 1.8rem;
  }
  .bag-icon {
    height: 1.4rem;
    width: 1.4rem;
  }
  .sec1-h {
    padding-top: 8vh;
  }
  .section1 {
    font-size: 2.4rem;
    height: 25vh;
  }
  .section2,
  .section3 {
    flex-direction: column;
    align-items: center;
  }
  .sec2,
  .sec3,
  .sec2--sec {
    width: 80%;
  }
  .sec2--sec {
    height: 30vh;
  }
  .sec-ara {
    padding: 4vh 0;
  }
  .secara-p {
    font-size: 1.4rem;
  }
  .sec2-p,
  .sec3-p {
    font-size: 1.4rem;
  }
  .sec2-h,
  .sec3-h {
    font-size: 2rem;
  }
  .footer-div {
    padding: 1rem;
    flex-direction: column;
  }
  .footer-nav {
    gap: 1rem;
    font-size: 1.4rem;
  }
}
