* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  width: 100%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}
.section1 {
  background-image: url("1-\ section1/section1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  text-align: center;
}
.sec1-div h1,
.sec3-div h1,
.sec5-div h1 {
  font-size: 7rem;
  padding-top: 20vh;
  color: #fff;
  letter-spacing: 3px;
}
.sec1 {
  font-size: 2.5rem;
  padding: 4vh 0 8vh;
  color: #fff;
}
.sec1-div a,
.sec3-div a,
.btn-sec1 {
  background-color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 2rem 3rem;
  color: rgb(86, 52, 104);
  font-size: 1.8rem;
  border: none;
}

.section2 {
  text-align: center;
}

h2 {
  font-size: 4.5rem;
  padding: 8vh 0;
  color: rgb(55, 30, 68);
}

h4 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.price {
  font-size: 2rem;
  padding: 0.5rem;
}

.sec2 {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.ara {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.btn-buy {
  padding: 10vh;
}

.btn-buy a {
  background-color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 2rem 3rem;
  color: rgb(86, 52, 104);
  font-size: 1.8rem;
  border: 2px solid rgb(86, 52, 104);
}

.section3 {
  background-image: url(/img/section3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.section4 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 10vh 0;
}

h3 {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(86, 52, 104);
}

.sec4-p {
  font-size: 2rem;
  padding: 1rem 1rem 4rem;
  color: rgb(86, 52, 104);
}

.sec4-div2 a {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgba(175, 155, 163, 0.7);
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: rgb(86, 52, 104);
}

.section5 {
  background-image: url(img/section5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  text-align: center;
  margin: 5vh 0;
}

.email {
  margin: 5vh 0;
  width: 50vh;
  height: 6vh;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.sec6 {
  color: rgb(86, 52, 104);
  font-size: 5rem;
  text-align: center;
  padding: 2rem 0 5rem;
}

.sec6-img {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.ins-div {
  font-size: 4rem;
  text-align: center;
  margin: 4rem 0;
}

.ins:link,
.ins:visited {
  color: rgb(86, 52, 104);
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}
