* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  width: 100%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}

.section1 {
  background-image: url("1-\ section1/section1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  text-align: center;
}
.sec1-div h1,
.sec3-div h1,
.sec5-div h1 {
  font-size: 7rem;
  padding-top: 20vh;
  color: #fff;
  letter-spacing: 3px;
}
.sec1 {
  font-size: 2.5rem;
  padding: 4vh 0 8vh;
  color: #fff;
}
.sec1-div a,
.sec3-div a,
.btn-sec1 {
  background-color: rgb(255, 255, 255, .7);
  text-decoration: none;
  padding: 2rem 3rem;
  color: rgb(86, 52, 104);
  font-size: 1.8rem;
  border: none;
}

.section2 {text-align: center;}

h2 {
  font-size: 4.5rem;
  padding: 8vh 0;
  color: rgb(55, 30, 68);
}

h4 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.price {
  font-size: 2rem;
  padding: 0.5rem;
}

.sec2 {
  display: flex;
  gap: 4rem;
  justify-content: center;
  
}

.ara {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.btn-buy {
  padding: 10vh;
}

.btn-buy a {
  background-color: rgb(255, 255, 255, .7);
  text-decoration: none;
  padding: 2rem 3rem;
  color: rgb(86, 52, 104);
  font-size: 1.8rem;
  border: 2px solid rgb(86, 52, 104);
}

.section3 {
  background-image: url(/img/section3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.section4 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 10vh 0;
}

h3 {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(86, 52, 104);
}

.sec4-p {
  font-size: 2rem;
  padding: 1rem 1rem 4rem;
  color: rgb(86, 52, 104);
}

.sec4-div2 a {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgba(175, 155, 163, 0.7);
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: rgb(86, 52, 104);
}

.section5 {
  background-image: url(img/section5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  text-align: center;
  margin: 5vh 0;
}

.email {
  margin: 5vh 0;
  width: 50vh;
  height: 6vh;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.sec6 {
  color: rgb(86, 52, 104);
  font-size: 5rem;
  text-align: center;
}

.sec6 {
  padding: 2rem 0 5rem;
}

.sec6-img {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.ins-div {
  font-size: 4rem;
  text-align: center;
  margin: 4rem 0;
}

.ins:link,
.ins:visited {
  color: rgb(86, 52, 104);
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

.ikonlar {
  width: 2.4rem;
  height: 2.4rem;
}

footer {
  position: relative;
}
/* 
@media (max-width: 79em) {
  .img img {
    width: 95%;
    height: 95%;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-nav {
    padding-right: 10rem;
    font-size: 1.8rem;
  }
  .section1 h1 {
    font-size: 6rem;
  }
  .btn-sec1 {
    width: 12rem;
    height: 5rem;
  }
  .btn-buy {
    width: 12rem;
    height: 5rem;
    font-size: 1.6rem;
    margin-top: 6rem;
  }
  .sec2 {
    gap: 2rem;
  }
  .section2 h2 {
    font-size: 4rem;
  }
  .section2 h4 {
    font-size: 2.2rem;
  }
  .section2 p {
    font-size: 1.8rem;
  }
  .section3 h1 {
    font-size: 6rem;
  }
  .section4 {
    gap: 2rem;
  }
  .sec4-img img {
    width: 90%;
    height: 90%;
  }
  .sec4-img {
    display: flex;
    justify-content: center;
  }
  .sec4-div2 {
    width: 90%;
    margin-left: 2rem;
  }
  .section4 h3 {
    font-size: 3rem;
  }
  .section4 p {
    font-size: 1.7rem;
  }
  .btn-sec4 {
    width: 12rem;
    height: 4.5rem;
  }
  .section5 h1 {
    font-size: 6rem;
  }
  .sec6-img div img {
    width: 90%;
    height: 90%;
  }
  .sec6-img div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec6 {
    font-size: 4rem;
  }
  .ins-div {
    font-size: 3.5 rem;
  }
  .footer-nav {
    padding-right: 15rem;
    font-size: 1.8rem;
  }
  span {
    font-size: 2.5rem;
    padding-left: 10rem;
  }
}
@media (max-width: 61em) {
  .img img {
    width: 90%;
    height: 90%;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-nav {
    padding-right: 6rem;
    font-size: 1.5rem;
  }
  .section1 {
    height: 80%;
  }
  .section1 h1 {
    font-size: 4rem;
    padding-top: 8rem;
  }
  .sec1-div {
    align-items: center;
    text-align: center;
    padding-bottom: 6rem;
  }
  .btn-sec1 {
    width: 9rem;
    height: 3.5rem;
  }
  .btn-buy {
    width: 9rem;
    height: 3.5rem;
    font-size: 1.4rem;
    margin-top: 4rem;
  }
  .sec2 {
    gap: 1.5rem;
  }
  .section2 h2 {
    font-size: 3rem;
  }
  .section2 h4 {
    font-size: 1.8rem;
  }
  .section2 p {
    font-size: 1.5rem;
  }
  .section3 {
    height: 80%;
  }
  .section3 h1 {
    font-size: 4rem;
    padding-top: 8rem;
  }
  .sec3-div {
    align-items: center;
    text-align: center;
    padding-bottom: 6rem;
  }
  .section4 {
    gap: 1rem;
  }
  .sec4-img img {
    width: 80%;
    height: 80%;
  }
  .sec4-img {
    display: flex;
    justify-content: center;
  }
  .sec4-div2 {
    width: 80%;
    margin-left: 4rem;
  }
  .section4 h3 {
    font-size: 2.4rem;
  }
  .section4 p {
    font-size: 1.4rem;
  }
  .btn-sec4 {
    width: 9rem;
    height: 3.5rem;
  }
  .section5 h1 {
    font-size: 4rem;
    padding-top: 8rem;
  }
  .section5 {
    height: 80%;
    align-items: flex-start;
  }
  .sec5-div {
    align-items: center;
    text-align: center;
    padding-bottom: 6rem;
  }
  .email {
    width: 32rem;
    height: 3.5rem;
  }
  .sec6-img {
    margin: 0;
  }
  .sec6-img div img {
    width: 90%;
    height: 90%;
  }
  .sec6-img div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec6 {
    font-size: 3rem;
  }
  .ins-div {
    font-size: 2.4 rem;
  }
  .footer-nav {
    padding-right: 6rem;
    font-size: 1.5rem;
  }
  span {
    font-size: 1.8rem;
    padding-left: 6rem;
  }
} */
