* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: #888;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  color: dodgerblue;
}
.section1 {
  background-image: url(img/shopsec.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  font-size: 10rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 0;
}
.sec2-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
}
.sec2-a {
  font-size: 1.7rem;
}
.search,
.shop {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section3 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1vh 0 6vh;
}
.vase {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 25%;
}
.vase img {
  width: 100%;
}
.sec3-h2 {
  font-size: 2rem;
  color: #555;
  padding: 1rem 0;
}
.sec3-h3 {
  font-size: 3rem;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 75em) {
  span {
    font-size: 2.6rem;
  }
  .main-nav {
    gap: 1.5rem;
    font-size: 1.7rem;
  }
  .bag-icon {
    height: 2rem;
    width: 2rem;
  }
  .section1 {
    height: 60vh;
    width: 100%;
    font-size: 8rem;
  }
  .sec2-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec2-a {
    font-size: 1.5rem;
  }
  .search,
  .shop {
    gap: 1.2rem;
  }
  .sec3-h2 {
    font-size: 1.7rem;
    padding: 0.7rem 0;
  }
  .sec3-h3 {
    font-size: 2rem;
  }
  .footer-div {
    padding: 2.4rem;
  }
  .footer-nav {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37em) {
  .main-header {
    padding: 2vh 5vh;
    flex-direction: column;
    gap: 1rem;
  }
  span {
    font-size: 1.8rem;
  }
  .main-nav {
    font-size: 1.5rem;
  }
  .bag-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .section1 {
    height: 40vh;
    width: 100%;
    font-size: 6rem;
  }
  .section2 {
    gap: 4vh;
    padding: 4vh 0;
  }
  .sec2-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .sec2-a {
    font-size: 1.4rem;
  }
  .search,
  .shop {
    gap: 1rem;
  }
  .sec3-h2 {
    font-size: 1.5rem;
    padding: 0.7rem 0;
  }
  .sec3-h3 {
    font-size: 1.5rem;
  }
  .footer-div {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-nav {
    font-size: 1.4rem;
  }
}
