* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: #888;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  color: dodgerblue;
}
.sec1-h {
  padding-top: 15vh;
}
.section1 {
  background-image: url(img/shopsec.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: white;
}
.section2 {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 0;
}
.sec2-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
}
.sec2-a {
  font-size: 1.7rem;
}
.search,
.shop {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section3 {
  display: grid;
  grid-template-columns: 25fr 75fr;
  padding: 5vh;
  gap: 1vh;
}
.sec3-a {
  /*a hrefs in sec3 */
  font-size: 1.8rem;
}
.sec3-h {
  /*h tags in sec3 */
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
}
.sec3-d1 {
  display: flex;
  align-items: center;
}
.sec3-s {
  padding: 0 1rem;
}
.sec3-d2 {
  padding: 3rem 0 1.5rem;
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}
.sec3-btn {
  width: 2rem;
  height: 2rem;
}
.sec3-btn:hover {
  cursor: pointer;
}
.form-a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #333;
  width: fit-content;
}
.sec3-d3 input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.3rem;
}
.sec3-d4 {
  padding: 3rem 0 1.5rem;
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}
.sec3-d5 {
  margin-bottom: 2rem;
}
.sec3-d5 input {
  outline: none;
  width: 12vh;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.inp {
  margin-bottom: 2rem;
}
.sec3-d6 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sec3-d2 a,
.sec3-d4 a,
.sec3-d6 a {
  color: #111;
}
.sec3-g img {
  width: 100%;
}
.sec3-g {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vh;
}
.sec3-h2 {
  font-size: 2rem;
  text-align: center;
  color: #555;
  padding: 0.5rem 0;
}
.sec3-h3 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 4vh;
}
.vase {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}
.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 94em) {
  .section3 {
    grid-template-columns: 30fr 70fr;
    padding: 3vh;
    gap: 1vh;
  }
  .sec3-d5 input {
    width: 10vh;
  }
  .sec3-h3 {
    font-size: 2.7rem;
    padding-bottom: 3vh;
  }
}

@media only screen and (max-width: 56em) {
  .main-header {
    padding: 2vh 8vh;
  }
  .main-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
  span {
    font-size: 2.5rem;
  }
  .bag-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec1-h {
    padding-top: 15vh;
  }
  .section1 {
    font-size: 3.5rem;
    height: 40vh;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section2 {
    gap: 4vh;
    padding: 4vh 0;
  }
  .sec2-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #888;
  }
  .sec2-a {
    font-size: 1.6rem;
  }
  .search,
  .shop {
    gap: 1rem;
  }
  .sec3-a {
    font-size: 1.6rem;
  }
  .sec3-h {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .sec3-d2,
  .sec3-d4 {
    padding: 2rem 0 1rem;
  }
  .sec3-btn {
    width: 1.6rem;
    height: 1.6rem;
  }
  .sec3-d5,
  .inp {
    margin-bottom: 1rem;
  }
  .sec3-d5 input {
    width: 12vh;
  }
  .footer-div {
    padding: 2rem;
  }
  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37em) {
  .main-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1vh 5vh;
  }
  .main-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
  span {
    font-size: 1.8rem;
  }
  .bag-icon {
    height: 1.4rem;
    width: 1.4rem;
    transform: translateY(-2px);
  }
  .sec1-h {
    padding-top: 10vh;
  }
  .section1 {
    font-size: 2.8rem;
    height: 25vh;
  }
  .section2 {
    gap: 2vh;
    padding: 2vh 0;
  }
  .sec2-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec2-a {
    font-size: 1.4rem;
  }
  .search,
  .shop {
    gap: 0.5rem;
  }
  .sec3-a {
    font-size: 1.4rem;
  }
  .sec3-h {
    font-size: 1.8rem;
  }
  .sec3-d2,
  .sec3-d4 {
    padding: 1rem 0 1rem;
  }
  .sec3-btn {
    width: 1.4rem;
    height: 1.4rem;
  }
  .sec3-h2 {
    font-size: 1.5rem;
  }
  .sec3-h3 {
    font-size: 2rem;
    padding-bottom: 3vh;
  }
  .sec3-g {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-div {
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
}
