* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
}
a:link,
a:visited {
  color: #888;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  color: dodgerblue;
}
.section1 {
  background-image: url(shopsec.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  font-size: 10rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 0;
}
.sec2-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
}
.sec2-a {
  font-size: 1.7rem;
}
.search,
.shop {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section3 {
  display: flex;
  justify-content: space-evenly;
}
.shp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.div2 {
  display: flex;
  align-items: center;
}
.sec3-h {
  font-size: 2.2rem;
  padding: 1rem 0;
  text-align: left;
}
.btn {
  border: none;
  color: #888;
  font-size: 1.5rem;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
}
.btn:hover {
  color: dodgerblue;
}
.slash {
  font-size: 1.9rem;
}
.crt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12vh;
}
.crt-p {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  color: rgb(86, 52, 104);
}
.crt-btn {
  width: 15vh;
  height: 5vh;
  margin-bottom: 10vh;
  color: rgb(86, 52, 104);
  border: 2px solid rgb(86, 52, 104);
  cursor: pointer;
  transition: all 0.3s;
}
.crt-btn:hover {
  background-color: rgb(86, 52, 104);
  color: white;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

.assistant {
  width: 6rem;
  height: 6rem;
  color: #e84910;
  position: fixed;
  z-index: 10;
  bottom: 10vh;
  right: 8vh;
  transition: all 0.3s;
}

.assistant:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.popup {
  background-color: rgb(232, 73, 16, 0.7);
  width: 20vh;
  height: 25vh;
  position: fixed;
  bottom: 18vh;
  right: 2vh;
  display: inline;
  text-align: center;
  color: #e6e6e6;
}
.popup span {
  color: #e6e6e6;
  font-size: 2.5rem;
}
.popup p {
  padding-bottom: 1rem;
  font-size: 90%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.text button {
  width: 5vw;
  height: 4vh;
  padding: 1rem;
  color: #e6e6e6;
  background-color: #e84910;
  border: none;
  transition: all 0.3s;
  font-size: 90%;
  border-radius: 5px;
}

.text button:hover {
  background-color: wheat;
  color: #e84910;
  cursor: pointer;
}

.assist-image {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.assist-image img {
  border-radius: 50%;
  width: 50%;
}

.assist-inp {
  width: 80%;
  height: 5vh;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 8rem;
}

@media only screen and (max-width: 56em) {
  body {
    position: relative;
  }
  .main-header {
    padding: 2vh 8vh;
  }
  .main-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
  span {
    font-size: 2.5rem;
  }
  .bag-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec1-h {
    padding-top: 10vh;
  }
  .section1 {
    font-size: 4rem;
    height: 35vh;
  }
  .section2 {
    gap: 4vh;
    padding: 4vh 0;
  }
  .sec2-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec2-a {
    font-size: 1.8rem;
  }
  .crt-btn {
    width: 12vh;
    height: 4vh;
  }
  .footer-div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
  }
  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
  .assistant {
    width: 4rem;
    height: 4rem;
    bottom: 10vh;
    right: 8vh;
  }
  .popup {
    width: 17vh;
    height: 22vh;
    bottom: 18vh;
    right: 2vh;
  }
  .popup span {
    font-size: 1.8rem;
  }
  .assist-image {
    gap: 0.5rem;
  }
  .text button {
    width: 6vw;
    height: 3vh;
    padding: 0.5rem;
    font-size: 90%;
  }
}

@media only screen and (max-width: 37em) {
  .main-header {
    padding: 1vh 5vh;
    flex-direction: column;
    gap: 0;
  }
  span {
    font-size: 1.8rem;
  }
  .main-nav {
    font-size: 1.5rem;
  }
  .bag-icon {
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(-2px);
  }
  .section1 {
    height: 28vh;
    font-size: 3rem;
  }
  .section2 {
    gap: 3vh;
    padding: 3vh 0;
  }
  .sec2-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
  .sec2-a {
    font-size: 1.4rem;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crt {
    margin-top: 5vh;
    align-items: center;
  }
  .crt-btn {
    width: 12vh;
    height: 4vh;
    font-size: 1rem;
  }
  .footer-div {
    padding: 1rem;
    flex-direction: column;
    gap: 0;
  }
  .footer-nav {
    font-size: 1.4rem;
  }
  .assistant {
    width: 3rem;
    height: 3rem;
    bottom: 8vh;
    right: 8vh;
  }
  .popup {
    width: 15vh;
    height: 20vh;
    bottom: 13vh;
    right: 2vh;
  }
  .popup span {
    font-size: 1.6rem;
  }
  .text {
    gap: 0.5rem;
  }
  .text button {
    width: 8vw;
    padding: 0.5rem;
    font-size: 90%;
  }
  .assist-image {
    gap: 0.5rem;
  }
  .assist-inp {
    width: 80%;
    height: 5vh;
  }
}
