* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}
.sec1-h {
  padding-top: 15vh;
}
.section1 {
  background-image: url(contact.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.div1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15vh;
}
.div2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15vh;
}
.sec2-h {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #4d2c57;
}
.h2sec {
  margin-top: 6vh;
}
.sec2-s {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  color: #4d2c57;
}
.div2-d {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
.inp {
  outline: none;
  width: 100%;
  height: 4rem;
  border: none;
  background-color: #f1f1f1;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
textarea {
  resize: none;
  padding-top: 1rem;
}
.sbm {
  width: 15vh;
  height: 5vh;
  color: #4d2c57;
  cursor: pointer;
  font-size: 1.8rem;
  border: 2px solid #4d2c57;
  transition: all 0.3s;
}
.sbm:hover {
  background-color: #4d2c57;
  color: white;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}

.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 56em) {
  .main-header {
    padding: 2vh 8vh;
  }
  .main-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
  span {
    font-size: 2.5rem;
  }
  .bag-icon {
    height: 2rem;
    width: 2rem;
  }
  .sec1-h {
    padding-top: 10vh;
  }
  .section1 {
    font-size: 3.5rem;
  }
  .div1 {
    margin: 10vh;
  }
  .div2 {
    margin: 10vh;
  }
  .sec2-h {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .h2sec {
    margin-top: 5vh;
  }
  .sec2-s {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .inp {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }
  textarea {
    padding-top: 0;
  }
  .sbm {
    width: 10vh;
    height: 3vh;
    font-size: 1.3rem;
    border: 1px solid #4d2c57;
  }
  .footer-div {
    padding: 2rem;
  }

  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37em) {
  body {
    position: relative;
  }
  .main-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1vh 5vh;
  }
  .main-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
  span {
    font-size: 1.8rem;
  }
  .bag-icon {
    height: 1.4rem;
    width: 1.4rem;
  }
  .sec1-h {
    padding-top: 5vh;
  }
  .section1 {
    font-size: 2.8rem;
    height: 25vh;
  }
  .section2 {
    margin-top: 8vh;
  }
  .div1 {
    margin: 2vh;
  }
  .div2 {
    margin: 2vh;
  }
  .sec2-h {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .h2sec {
    margin-top: 5vh;
  }
  .sec2-s {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .inp {
    height: 2rem;
  }
  .sbm {
    width: 8vh;
    height: 3vh;
    font-size: 1.1rem;
  }
  .footer-div {
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .footer-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
}
