* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 14vh;
}
.main-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  align-items: center;
}
span {
  font-size: 3rem;
  font-weight: bold;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon {
  height: 2.4rem;
  width: 2.4rem;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
  cursor: pointer;
}
.sec1-h {
  padding-top: 15vh;
}
.section1 {
  background-image: url(../About/img/about.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: white;
}
.sec-ara {
  padding: 9vh 0;
}
.secara-p {
  width: 80vh;
  font-size: 2rem;
  color: #4d2c57;
  margin: 0 auto;
  text-align: center;
}
.section2 {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 10vh;
  padding: 0 10vh;
}
.sec2-h {
  font-size: 4rem;
  color: #4d2c57;
}
.sec2-p {
  font-size: 2rem;
  color: #4d2c57;
  line-height: 1.5;
  padding: 3rem 0 1.5rem;
}
.sec2 img,
.sec3 img {
  width: 100%;
}
.section3 {
  display: grid;
  grid-template-columns: 40fr 60fr;
  background-color: #fd925c;
  gap: 10vh;
  padding: 0 10vh;
}
.sec3-h {
  text-align: left;
  font-size: 4rem;
  color: white;
}
.sec3-p {
  font-size: 2rem;
  color: white;
  line-height: 1.5;
  padding: 3rem 0;
}
.sec3 {
  text-align: left;
}
.sec2--sec {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sec3-btn {
  cursor: pointer;
  width: 20vh;
  height: 5vh;
  font-size: 1.6rem;
  color: #4d2c57;
  border: none;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgb(192, 196, 201);
}
.footer-nav {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 62.5em) {
  span {
    font-size: 2.2rem;
  }
  .main-header {
    padding: 3vh 10vh;
  }
  .bag-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
  .main-nav {
    font-size: 1.8rem;
  }
  .section1 {
    height: 50vh;
    font-size: 4rem;
  }
  .sec-ara {
    padding: 7vh 0;
  }
  .secara-p {
    font-size: 1.8rem;
    width: 100%;
  }
  .section2 {
    grid-template-columns: 1fr 1fr;
    gap: 5vh;
    padding: 0 6vh;
  }
  .sec2-h {
    font-size: 2.8rem;
  }
  .sec2-p {
    font-size: 1.7rem;
    line-height: 1.4;
    padding: 2rem 0 1.5rem;
  }
  .section3 {
    grid-template-columns: 1fr 1fr;
    gap: 5vh;
    padding: 0 6vh;
  }
  .sec3-h {
    font-size: 2.8rem;
  }
  .sec3-p {
    font-size: 1.7rem;
    line-height: 1.4;
    padding: 2.5rem 0;
  }
  .sec3-btn {
    width: 18vh;
    height: 4vh;
    font-size: 1.4rem;
  }
  .footer-div {
    padding: 2.5rem;
  }
  .footer-nav {
    gap: 2.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 43.5em) {
  span {
    font-size: 1.8rem;
  }
  .main-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1vh 5vh;
  }
  .bag-icon {
    height: 1.4rem;
    width: 1.4rem;
  }
  .main-nav {
    font-size: 1.4rem;
  }
  .section1 {
    height: 35vh;
    font-size: 2.4rem;
  }
  .sec-ara {
    padding: 3vh 0;
  }
  .secara-p {
    font-size: 1.4rem;
    width: 100%;
  }
  .section2 {
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding: 0 2vh;
  }
  .sec2-h {
    font-size: 1.8rem;
  }
  .sec2-p {
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.5rem 0;
  }
  .section3 {
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding: 0 2vh;
  }
  .sec3-h {
    font-size: 1.8rem;
  }
  .sec3-p {
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.5rem 0;
  }
  .sec3-btn {
    width: 12vh;
    height: 4vh;
    font-size: 1.2rem;
  }
  .footer-div {
    flex-direction: column;
    padding: 1.5rem;
  }
  .footer-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }
}
